In [6]:
# Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

# Add ‘mango to the above list

# Also add banana, grapes & orange in the list 

# insert apple in the 5th position of a variable ‘a’

# Remove last item from the list	


a = [ 2,3,4,5,6,7]
a.append("mango")
print(a)

[2, 3, 4, 5, 6, 7, 'mango']

In [13]:
a = [2, 3, 4, 5, 6, 7, 'mango']
b = ["banana","grapes","orange"]
a.extend(b)

In [14]:
print(a)

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [15]:
a.insert(4, "apple")
print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [17]:
# Q2.
# L = [1,2,3,4,5,6,7]
# Using the above list slice from 1:4

L = [1,2,3,4,5,6,7]
x = slice(1,4)
print(L[x])

[2, 3, 4]

In [34]:
# Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function

a = []
size = int(input("Enter the size of the list:"))
for i in range(size):
    val = int(input("Enter the val"))
    a.append(val)
i=0
j=size-1
while(i<j):
        t=a[i]
        a[i]=a[j]
        a[j]=t
        i=i+1
        j=j-1
print("list reverse:")
for i in range(size):
        print(a[i])

Enter the size of the list: 5
Enter the val 1
Enter the val 2
Enter the val 3
Enter the val 4
Enter the val 5

list reverse:
5
4
3
2
1

In [39]:
# Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

L=[2,4,7,3,6,8]

square = [x**2 for x in  L]
print(square)

[4, 16, 49, 9, 36, 64]

In [41]:
# Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the 
# function with a tuple of your choice.


def tuple_f(t):
    return sum(t)

t = (1,23,4,5)
result = tuple_f(t)
print(result)

33

In [43]:
# Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. 
# Print the resulting set to the console

set1 = {"orange", "banana" , "apple"}
set2 = {"Litchi", "Mango" , "Strawberry"}
z = set1.union(set2)
print(z)

{'apple', 'Litchi', 'Mango', 'Strawberry', 'banana', 'orange'}

In [45]:
# Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the 
# resulting set to the console

se1 ={"a", "b" , "c" , "d"}
se1.add("e")
print(se1)

{'b', 'd', 'a', 'e', 'c'}

In [48]:
# Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the 
# set. Print the resulting set to the console

s = {"dog" , "cat" , "cow" , "monkey"}
s.remove("monkey")
print(s)

{'dog', 'cat', 'cow'}

In [49]:
# Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

#       favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

#       Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ 

#  movie pairs. Print the resulting list 



favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs = list(zip(favorite_books,favorite_movies))
print(book_movie_pairs)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

In [50]:
# Q10. Write a Python program to find the difference between consecutive numbers in a list

def find_differences(numbers):
    differences = []
    for i in range(len(numbers) - 1):
        diff = numbers[i+1] - numbers[i]
        differences.append(diff)
    return differences

# Test the function
my_list = [3, 8, 12, 5, 9]
result = find_differences(my_list)
print("Differences:", result)

Differences: [5, 4, -7, 4]